CF_ACCOUNTS:
    - account_id: ZXXXXZZ
      email: email@account.com
      api_key: NNNXMXMMXMXMX
    - account_id: YYYYYYZYZYY
      email: info@account.com
      api_key: KKKDKKDKDKKK

NC_API_USER: bbbbbbb
NC_API_KEY: eeeeeeeeee
